*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.img-1{
    width: 41px;
    margin-left: 204px;
    margin-top: 58px;
}
.a-1{
color: gray;
margin-left:717px;
margin-top: -20px;
position: absolute;
}
.a-1:hover{
    color: black;
}
.a-2:hover{
    color: black;
}
.a-3:hover{
    color: black;
}
.a-4:hover{
    color: black;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-family: "Inter", sans-serif;
}
.row{
    display: flex;
    gap: 35px;
    
}
.a-2{
    color: gray;
    margin-left:772px;
margin-top: -20px;
position: absolute;
    
    }
.a-3{
        color: gray;
       margin-left: 850px;
       margin-top: -20px;
       position: absolute;
       
     }
.a-4{
            color: gray;
            margin-left:880px;
           margin-top: -20px;
          position: absolute;
           
 }
 .bt-1{
    width: 132px;
height: 44px;
border-radius: 8px;
background-color: orange;
border: 1px solid orange;
color: white;
font-weight: bold;
font-family: "Inter", sans-serif;
position: absolute;
margin-left: 1090px;
margin-top: -30px;


 }
 .bt-2{
    width: 132px;
height: 44px;
border-radius: 8px;
background-color: orange;
border: 1px solid orange;
color: white;
font-weight: bold;
font-family: "Inter", sans-serif;
position: absolute;
margin-left: 1250px;
margin-top: -30px;


 }
 .bt-1:active{
    background-color: white;
    color: orange;
 }
 .bt-2:active{
    background-color: white;
    color: orange;
 }
 .h1-1{
    font-size: 64px;
    margin-top: 144px;
    margin-left: 204px;
 }
 .img-2{
    width: 687px;
    position: absolute;
    margin-left: 750px;
    margin-top: -200px;
 }
 .h2-1{
    font-size: 22px;
    margin-top: 74px;
    margin-left: 204px;
    font-family: "Inter", sans-serif;
 }
 .bt-3{
    width: 180px;
height: 60px;
border-radius: 8px ;
background-color: orange;
border: 1px solid orange;
color: white;
font-weight: bold;
font-family: "Inter", sans-serif;
position: absolute;
margin-top: 230px;
margin-left: 204px;

 }
 .bt-3:active{
    background-color: white;
    color: orange;
 }
 .loc-1{
    width: 200px;
    height: 50px;
    border-radius: 7px;
    border:1px solid slategray;
    position: absolute;
    margin-left: 204px;
    margin-top: 50px;
 }
 .loc-2{
    width: 200px;
    height: 50px;
    border-radius: 7px;
    border:1px solid slategray;
    position: absolute;
    margin-left: 50px;
    margin-left: 420px;
    margin-top: 50px;
 }
 .loc-3{
    width: 200px;
    height: 50px;
    border-radius: 7px;
    border:1px solid slategray;
    position: absolute;
        margin-top: 130px;
        margin-left: 204px;


 }
 .loc-4{
    width: 200px;
    height: 50px;
    border-radius: 7px;
    border:1px solid slategray;
    position: absolute;
    margin-left: 420px;
    margin-top: 130px;
 }
 .rest{
    position: absolute;
    margin-left: 204px;
    margin-top: 20px;
 }
 .tho{
    position: absolute;
    width: 659px;
    margin-left: 150px;
    margin-top: 700px;
 }
 .h1-2{
    font-size: 36px;
    margin-top: 800px;
    margin-left: 1000px;
 }
 .p-1{
    font-family: "Inter", sans-serif;
    color: grey;
    font-size: 17px;
    margin-left: 1000px;
    margin-top: 20px;
 }
 .bt-4{
    width: 180px;
height: 60px;
border-radius: 8px ;
background-color: orange;
border: 1px solid orange;
color: white;
font-weight: bold;
font-family: "Inter", sans-serif;
position: absolute;
margin-left: 1000px;
margin-top: 20px;

 }
 .bt-4:active{
    background-color: white;
    color: orange;
 }
 .h1-3{
    margin-top: 470px;
    margin-left: 204px;
    font-size: 36px;
 }
 .wi{
    position: absolute;
    color: orange;
    margin-left: 1281px;
    font-weight: bold;
    margin-top: -20px;
 }
 .arrow{
    color: orange;
    margin-left: 1370px;
    margin-top: -20px;
    position: absolute;
 }
 .row-2{
    display: flex;
    gap: 25px;
 }
 .img-11{
    margin-left: 204px;
    margin-top: 50px;
    position: absolute;
    width: 261px;
 }
 .img-22{
    margin-left: 500px;
    margin-top: 50px;
    position: absolute;
    width: 261px;
 }
 
 .img-33{
    margin-left: 800px;
    margin-top: 50px;
    position: absolute;
    width: 261px;
 }
 
 .img-44{
    margin-left:1100px;
    margin-top: 50px;
    position: absolute;
    width: 261px;
 }
 .h1-4{
    font-size: 36px;
    margin-left: 204px;
    margin-top: 750px;
 }
 .p-11{
    font-size: 17px;
    font-family: "Inter", sans-serif;
    color: grey;
    margin-top: 850px;
    position: absolute;
    margin-left: 204px;
 }
 
    .dow{
        width: 180px;
    height: 60px;
    border-radius: 8px ;
    background-color: orange;
    border: 1px solid orange;
    color: white;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    position: absolute;
    margin-left: 204px;
    margin-top: 950px;
   
    
     }
     .dow:active{
        background-color: white;
        color: orange;
     }
     .th{
        position: absolute;
        width: 599px;
        margin-left: 850px;
        margin-top: 650px;
     }
     .p-22{
        color: black;
        font-size: 24px;
        position: absolute;
        font-family: "Inter", sans-serif;
        margin-top: 1650px;
        margin-left: 204px;
     }
     .h4-1{
        color: black;
        font-weight: bold;
        font-size: 22px;
        font-family: "Inter", sans-serif;
        margin-top: 1850px;
        position: absolute;
        margin-left: 204px;
     }
     .p-33{
        font-family: "Inter", sans-serif;
        color: black;
        font-size: 18px;
        font-weight: lighter;
        margin-top: 1890px;
        position: absolute;
        margin-left: 204px;
     }
     .img-55{
        position: absolute;
        width: 416.84px;
        margin-top: 1500px;
        margin-left: 1000px;
     }
     .star{
        position: absolute;
        width: 189.02px;
        margin-top: 1600px;
        margin-left: 204px;
     }
     .h1-5{
        font-size: 36px;
        position: absolute;
        margin-top: 1400px;
        margin-left: 204px;
     }
     .h1-6{
        position: absolute;
        margin-top: 2200px;
        margin-left: 204px;
        font-size: 36px;
        
     }
     .wiew{
        position: absolute;
        margin-top: 2211px;
        color: orange;
        font-weight: bold;
        margin-left: 1281px;
     }
     .arrow-2{
        position: absolute;
        margin-top: 2211px;
        margin-left: 1350px;
        color: orange;
     }
     .row-3{
        display: flex;
     }
     .card-1{
        position: absolute;
        margin-top: 1500px;
        margin-left: 104px;
     }
     .image{
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width: 300px;
        height: 300px;
       


     }
     .h3-11{
        font-family: "Inter", sans-serif;
        font-size: 25px;
        margin-top: 20px;
     }
     .p-55{
        font-size:15px ;
        font-family: "Inter", sans-serif;
        color: grey;
        margin-top: 30px;
     }
     .a-11{
        position: absolute;
        color: orange;
        font-weight: bold;
        font-size: 16px;
        margin-top: 20px;
      
     }
     .h3-22{
        font-family: "Inter", sans-serif;
        font-size: 25px;
        margin-top: 20px;
     }
     .p-66{
        font-size:15px ;
        font-family: "Inter", sans-serif;
        color: grey;
        margin-top: 30px;
     }
     .a-22{
        position: absolute;
        color: orange;
        font-weight: bold;
        font-size: 16px;
        margin-top: 20px;
      
     }
     .card-2{
        position: absolute;
        margin-top: 1500px;
        margin-left: 440px;
     }
     .image-1{
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width: 300px;
        height: 300px;
     }
     .card-3{
        position: absolute;
        margin-top: 1500px;
        margin-left: 770px;
     }
     .image-2{
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width: 300px;
        height: 300px;
       


     }
     .h3-33{
        font-family: "Inter", sans-serif;
        font-size: 25px;
        margin-top: 20px;
     }
     .p-77{
        font-size:15px ;
        font-family: "Inter", sans-serif;
        color: grey;
        margin-top: 30px;
     }
     .a-33{
        position: absolute;
        color: orange;
        font-weight: bold;
        font-size: 16px;
        margin-top: 20px;
      
     }
     

     

 
     .card-4{
        position: absolute;
        margin-top: 1500px;
        margin-left: 1100px;
     }
     .image-3{
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width: 300px;
        height: 300px;
       


     }
     .h3-44{
        font-family: "Inter", sans-serif;
        font-size: 25px;
        margin-top: 20px;
     }
     .p-88{
        font-size:15px ;
        font-family: "Inter", sans-serif;
        color: grey;
        margin-top: 30px;
     }
     .a-44{
        position: absolute;
        color: orange;
        font-weight: bold;
        font-size: 16px;
        margin-top: 20px;
      
     }
     .footer{
      background-color: #F9F9FB;
      width: 1600px;
      height: 550px;
      margin-top: 2200px;


     }
     .logo-1{
      margin-left: 191px;
      margin-top: 78px;

     }
     .p-12{
      font-family: "Inter", sans-serif;
      font-size: 18px;
      color: grey;
      margin-left: 190px;
      margin-top: 148px;
     }
     .p-13{
      position: absolute;
      font-family: "Inter", sans-serif;
      font-size: 17px;
      color: grey;
      margin-left: 185px;
      margin-top: 60px;
     }
     .dest{
      position: absolute;
      margin-left: 800px;
      margin-top: -250px;
     }
     .shop{
      position: absolute;
      margin-left: 1000px;
      margin-top: -250px;
     }
     .inter{
      position: absolute;
      margin-left: 1200px;
      margin-top: -250px;
     }
     .img-99{
      position: absolute;
      margin-left: 150px;
      margin-top: 100px;
     }
     .logo-11{
      font-size: 30px;
      color: black;
      position: absolute;
      margin-left:650px;
      margin-top: 150px;
      
     }
     .logo-22{
      font-size: 30px;
      color: black;
      position: absolute;
      margin-left:700px;
      margin-top: 150px;
      
     }
     .logo-33{
      font-size: 30px;
      color: black;
      position: absolute;
      margin-left:750px;
      margin-top: 150px;
      
     }
     .logo-44{
      font-size: 30px;
      color: black;
      position: absolute;
      margin-left:800px;
      margin-top: 150px;
      
     }
     .logo-55{
      font-size: 30px;
      color: black;
      position: absolute;
      margin-left:850px;
      margin-top: 150px;
      
     }

     

 
 